<%= turbo_stream.replace('user_accounts_table', partial: 'authenticated/user_accounts/table') %>

<%= turbo_stream.replace('week_selectors') do %>
  <div id="week_selectors" class="flex mr-4">
    <%= link_to authenticated_root_path(start_date: @previous_week_start, search: params[:search]), class: "px-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    <% end %>
    <%= link_to authenticated_root_path(start_date: @next_week_start, search: params[:search]), class: "px-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    <% end %>
  </div>
<% end %>